@import "tailwindcss";

* {
    box-sizing: border-box;
    letter-spacing: 0.3px;
}

body.darkMode,
.darkMode .profileWrapper,
.darkMode header,
.darkMode section {
    background-color: #111;
    color: #aaa;
}
body.lightMode,
.lightMode .profileWrapper,
.lightMode header,
.lightMode section {
    background-color: #eee;
    color: #000;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.darkMode .border-thin {
    border: solid 0.7px #ffffffaa;
}
.lightMode .border-thin {
    border: solid 0.7px #000000aa;
}
.darkMode .border-thin-2 {
    border: solid 0.7px #ffffff22;
}
.lightMode .border-thin-2 {
    border: solid 0.7px #00000044;
}
.darkMode .border-b-thin {
    border-bottom: solid 0.7px #ffffff44;
}
.lightMode .border-b-thin {
    border-bottom: solid 0.7px #00000044;
}

.noTouchAction {
    touch-action: manipulation;
}

.bg-url-fixed {
    background-attachment: fixed;
    background-position: center;
    background-size: 80% 35%;
    background-repeat: no-repeat;
}

@media (min-width: 1024px) {
    .bg-url-fixed {
        background-size: 30% 80%;
    }
}