.experiences {
    background-image: url('/images/experience.png');
}
.expWrapper {
    gap: 20px;
}
.darkMode .experienceCard {
    background-color: #55555544;
    background-image:
    radial-gradient(circle at 90% 0%, #0077bb55, transparent 30%),
    radial-gradient(circle at 0% 50%, #bb770055, transparent 20%);
}
.lightMode .experienceCard {
    background-image:
    radial-gradient(circle at 70% -20%, #00aaff33, transparent 30%),
    radial-gradient(circle at 0% 50%, #ffaa0033, transparent 20%);
    border: solid 0.7px #00000055;
}
.darkMode .expTech {
    color: #c90;
    border: solid 0.7px #cc990088;
}
.lightMode .expTech {
    color: #059;
    border: solid 0.5px #00559988;
}

@media (min-width: 1024px) {
    .experiences {
        width: 80%;
        margin: 0 auto;
    }
    .experienceCard {
        width: calc(100%/2 - 20px/2);
    }
}